
.cover-img-bodyweight {
  background-image: url('../../../assets/images/bodyweights.jpg');
  background-position: center;
}

.data-table th:nth-child(2), 
.data-table td:nth-child(2) {
	 text-align: right;
}
.data-table-goals th:nth-child(2), 
.data-table-goals td:nth-child(2) {
	 text-align: left;
}
.data-table th:nth-child(3), 
.data-table td:nth-child(3) {
	 text-align: right;
}
.data-table th:nth-child(4), 
.data-table td:nth-child(4) {
	 width: 30px;
	 text-align: center;
}