<div class="col-12 cover-img cover-img-bodyweight">
    <div class="info-wrapper">
        <h1>Bodyweight</h1>
    </div>
</div>

<div class="col-12 info-wrapper">
    <div class="col-12 row justify-content-between">
        <div class="col-md-12 col-lg-7">
            <div class="d-flex text-center border-bottom mb-3">
                <div class="col-4">
                    <p class="text-uppercase info-header">Bodyweight</p>
                    <p class="fw-bold fs-3">
                        {{ currentBodyweight?.bodyweight ? (currentBodyweight!.bodyweight | measurementConverter:currentBodyweight!.bodyweightUnitId) : '' }}
                    </p>
                </div>
                 <div class="col-4">
                    <p class="text-uppercase info-header">Goal</p>
                    <p class="fw-bold fs-3">
                        {{ currentBodyweight?.bodyweightGoal ? (currentBodyweight!.bodyweightGoal | measurementConverter:currentBodyweight!.bodyweightGoalUnitId) : '' }}
                    </p>
                </div>
                 <div class="col-4">
                    <p class="text-uppercase info-header">Body fat</p>
                    <p class="fw-bold fs-3">{{ currentBodyweight?.bodyFatPercentage ? currentBodyweight?.bodyFatPercentage + ' %' : '' }}</p>
                </div>
            </div>

            <div class="pt-2">
                <div class="d-flex justify-content-start flex-nowrap align-items-center">
                    <div>
                        <select id="chart-timespan" class="form-select" [(ngModel)]="selectedTimespan" (change)="onTimespanChange()">
                            @for (ts of chartTimespans; track ts) {
                                <option [ngValue]="ts.id">{{ ts.description }}</option>
                            }
                        </select>
                    </div>
                </div>
                <div style="display: block;">
                    <canvas id="bodyweights-line-chart"></canvas>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-4 ms-4 mb-3 d-flex flex-column">
            <div class="top-btns mb-3">
                <button class="btn btn-primary" (click)="modalService.showAddBodyweightModal()"><i class="fa-solid fa-weight-scale"></i> Add Bodyweight</button>
                <button class="btn btn-secondary ms-2" (click)="modalService.showAddBodyweightGoalModal()"><i class="fa-solid fa-chart-line"></i> Add Goal</button>
            </div>

            <div class="bottom-data">
                <div class="d-flex align-items-center">
                @for (tab of tabs; track tab; let idx = $index) {
                    <div [ngClass]="{'tab': true, 'active': selectedTab === idx}" (click)="onSelectTab(idx)">
                        @if (tab.iconClass) {
                            <i [class]="tab.iconClass"></i>
                        }
                        {{ tab.label }}
                    </div>
                }
                    <!-- Empty filler div for the remaining space -->
                    <div class="filler"></div>
                </div>

            @if (selectedTab === 0) {
                <table class="data-table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Bodyweight</th>
                            <th>Body Fat</th>
                            <th></th> <!-- Empty heading for edit dots -->
                        </tr>
                    </thead>
                    <tbody>
                        @for (row of bodyweights?.data; track row; let idx = $index) {
                            <tr [ngClass]="{'odd-row': idx % 2 !== 0}">
                                <td>
                                    {{ row.logDate! | utcToLocal:'MMM d' }}
                                    <br/>
                                    <small>{{ row.logDate! | utcToLocal:'yyyy' }}</small>
                                </td>
                                <td>{{ row.value | measurementConverter:row.weightUnitId }}</td>
                                <td>{{ row.bodyFatPercentage ? row.bodyFatPercentage + ' %' : "" }}</td>
                                <td>
                                    <span class="edit-dots" (click)="onOpenEditMenu(idx)">⋮</span>
                                    @if (selectedBodyweightMenu === idx) {
                                        <div class="edit-menu" appClickOutside (clickOutside)="this.selectedBodyweightMenu = null">
                                            <ul>
                                                <li (click)="editBodyweight(row)">
                                                    <i class="fa-solid fa-pen"></i>
                                                    Edit
                                                </li>
                                                <li (click)="deleteBodyweight(row.id)" class="delete-item">
                                                   <i class="fa-solid fa-trash"></i>
                                                    Delete
                                                </li>
                                            </ul>
                                        </div>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="flex justify-content-center">
                    <p-paginator (onPageChange)="onPageChange($event)" 
                        [first]="bodyweightsFirst" 
                        [rows]="rows" 
                        [totalRecords]="bodyweights?.total"
                        [showFirstLastIcon]="false" />
                </div>
            }
            @else if (selectedTab === 1) {
                <table class="data-table data-table-goals">
                    <thead>
                        <tr>
                            <th>Start</th>
                            <th>Finish</th>
                            <th>Bodyweight</th>
                            <th></th> <!-- Empty heading for edit dots -->
                        </tr>
                    </thead>
                    <tbody>
                        @for (row of bodyweightGoals?.data; track row; let idx = $index) {
                            <tr [ngClass]="{'odd-row': idx % 2 !== 0}">
                                 <td>
                                    {{ row.startDate! | utcToLocal:'MMM d' }}
                                    <br/>
                                    <small>{{ row.startDate! | utcToLocal:'yyyy' }}</small>
                                </td>
                                <td>
                                    {{ row.endDate! | utcToLocal:'MMM d' }}
                                    <br/>
                                    <small>{{ row.endDate! | utcToLocal:'yyyy' }}</small>
                                </td>
                                <td>{{ row.target | measurementConverter:row.weightUnitId }}</td>
                                <td>
                                    <span class="edit-dots" (click)="onOpenEditMenu(idx)">⋮</span>
                                    @if (selectedBodyweightGoalMenu === idx) {
                                        <div class="edit-menu" appClickOutside (clickOutside)="this.selectedBodyweightGoalMenu = null">
                                            <ul>
                                                <li (click)="editBodyweightGoal(row)">
                                                    <i class="fa-solid fa-pen"></i>
                                                    Edit
                                                </li>
                                                <li (click)="deleteBodyweightGoal(row.id)" class="delete-item">
                                                   <i class="fa-solid fa-trash"></i>
                                                    Delete
                                                </li>
                                            </ul>
                                        </div>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="d-flex justify-content-center">
                    <p-paginator (onPageChange)="onPageChange($event)" 
                        [first]="bodyweightGoalsFirst" 
                        [rows]="rows" 
                        [totalRecords]="bodyweightGoals?.total"
                        [showFirstLastIcon]="false" />
                </div>
            }       
            </div>
        </div>
    </div>
</div>