/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Roboto", sans-serif;;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #343a40;
}

input, form {
    position: relative;
}

.input-error {
  box-shadow: 0 0 5px rgb(255, 0, 0);
  border-radius: var(--bs-border-radius);
}

.validation-error-message {
  color: #e73b1c;
  font-size: 0.8rem;
  margin-top: 2px;
  position: absolute;
  right: 0px;
  bottom: -20px;
}

.input-addon-static {
  width: 15%;
  justify-content: center;
  color: #707070;
}

.info-wrapper {
  padding: 3rem 15rem;
}
@media (max-width: 1380px) {
  .info-wrapper {
    padding: 3rem 8rem;
  }
}
@media (max-width: 1150px) {
  .info-wrapper {
    padding: 3rem 2rem;
  }
}

.cover-img {
  background-image: url('./assets/images/home.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-color: rgba(0, 50, 150, 0.705);
}
.cover-img h1{
  color: #ffffff;
}

.my-modal {
	 width: auto;
	 height: auto;
	 max-height: 95dvh;
	 position: fixed;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 z-index: 1000;
	 background-color: #fff;
	 display: block;
	 border-radius: 10px;
}
.my-modal.xs {
  width: 350px;
}
.my-modal.sm {
  width: 550px;
}
.my-modal.md {
  width: 850px;
}
.my-modal.lg {
  width: 1350px;
}
.my-modal .my-modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  border-bottom: 1px solid #9f9f9f;
  padding: 1rem 1.2rem 0.7rem;
  background-color: #f8f8f8;
  border-radius: 10px 10px 0 0;
}
.my-modal .my-modal-header h3 {
  font-size: 1.3em;
  margin-bottom: 0;
}
.my-modal .my-modal-header i {
  font-size: 1.1em;
  cursor: pointer;
  color: #a3a3a3;
}
.my-modal .my-modal-header i:hover {
  color: #6c757d;
}
.my-modal .my-modal-body {
  padding: 1.2rem 1.2rem;
  overflow: auto;
  max-height: 80dvh;
}
.my-modal .my-modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  border-top: 1px solid #9f9f9f;
  padding: 1.2rem 1.2rem 1rem;
  background-color: #f8f8f8;
  border-radius: 0 0 10px 10px;
}
.my-modal .my-modal-footer button {
  width: auto;
  font-size: 0.9em;
}
.my-backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
}

.short-info-block {
    margin-right: 1rem;
}

.short-info-block .block-item {
    padding: 0.5rem;
}
.short-info-block .block-item:nth-child(1) {
    background-color: #f4f4f4;
    border-radius: 5px 0 0 5px;
}
.short-info-block .block-item:nth-child(2) {
    background-color: var(--bs-blue);
    border-radius: 0 5px 5px 0;
    color: #ffffff;
}

.edit-dots {
    cursor: pointer;
    color: var(--bs-blue);
    font-size: 1.5rem;
    font-weight: bold;
}
.edit-menu {
    position: absolute;
    background-color: #fff;
    border: 1px solid var(--bs-border-color);
    z-index: 10;
    width: 150px;
    margin-left: -130px;
    padding: 0.5rem 0;
    text-align: start;
    align-items: center;
    border-radius: 5px;
}
.edit-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.edit-menu ul li {
    padding: 0.3rem 0.8rem;
    cursor: pointer;
}
.edit-menu ul li:hover {
    background-color: #f4f4f4;
}
.edit-menu ul li.delete-item {
    color: red;
}
.edit-menu hr {
    margin: 0.5rem 0;
}

.info-header {
    font-size: 0.8em;
}
.bottom-data .tab {
    cursor: pointer;
    padding: 0.5rem 0.8rem;
    text-align: center;
}
.bottom-data .tab:not(.active) {
    box-shadow: inset 0 -1px 0 var(--bs-border-color);
}
.bottom-data .tab.active {
    box-shadow:
        inset 0 1px 0 var(--bs-border-color),
        inset 1px 0 0 var(--bs-border-color),
        inset -1px 0 0 var(--bs-border-color);
    border-radius: 5px 5px 0 0;
}
.bottom-data .filler {
    flex-grow: 1;
    align-self: stretch;
    box-shadow: inset 0 -1px 0 var(--bs-border-color);
}
.data-table {
	 width: 100%;
	 border-collapse: collapse;
	 margin-top: 1rem;
}
.data-table th, 
.data-table td {
	 padding: 0.3rem;
	 text-align: left;
}
.data-table th {
    font-weight: bold;
    border-bottom: 2px solid var(--bs-border-color);
}
.data-table td {
    font-size: 0.95rem;
}
.data-table .odd-row {
    background-color: #f4f4f4;
}

.error-page-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
}
.error-page-container h1 {
  font-size: 5rem;
  margin: 0;
}
.error-page-container p {
  font-size: 1.5rem;
  opacity: 0.75;
}

.clickable {
    cursor: pointer;
    color: var(--bs-blue);
}
.clickable:hover {
    color: #343a40;
}