@if (modalService.bodyweightModalSignal()) {
    <app-bodyweight-modal (closeModalEvent)="modalService.hideBodyweightModal()"></app-bodyweight-modal>
}
@if (modalService.bodyweightGoalModalSignal()) {
    <app-bodyweight-goal-modal (closeModalEvent)="modalService.hideBodyweightGoalModal()"></app-bodyweight-goal-modal>
}

@if (modalService.measurementModalSignal()) {
    <app-measurement-modal (closeModalEvent)="modalService.hideMeasurementModal()"></app-measurement-modal>
}

@if (modalService.measurementGoalModalSignal()) {
    <app-measurement-goal-modal (closeModalEvent)="modalService.hideMeasurementGoalModal()"></app-measurement-goal-modal>
}

@if (modalService.workoutModalSignal()) {
    <app-workout-modal (closeModalEvent)="modalService.hideWorkoutModal()"></app-workout-modal>
}

@if (modalService.exerciseModalSignal()) {
    <app-exercise-modal (closeModalEvent)="modalService.hideExerciseModal()"></app-exercise-modal>
}

@if (modalService.notesModalSignal()) {
    <app-notes-modal (closeModalEvent)="modalService.hideNotesModal()"></app-notes-modal>
}

@if (modalService.howToExerciseModalSignal()) {
    <app-how-to-exercise-modal (closeModalEvent)="modalService.hideHowToExerciseModal()"></app-how-to-exercise-modal>
}

@if (modalService.setModalSignal()) {
    <app-set-modal (closeModalEvent)="modalService.hideSetModal()"></app-set-modal>
}