.edit-dots-workout {
    font-size: 3rem;
}

.edit-dots-exercise {
    font-size: 2.2rem;
}

.edit-menu {
    width: 200px;
    top: 60px;
    right: 0;
    font-size: 0.9rem;
}

.edit-menu-exercise {
    top: 45px;
}

.edit-menu ul li:hover {
    background-color: #f4f4f4;
}

.edit-menu ul li:hover {
    background-color: #f4f4f4;
}



textarea {
    resize: none;
}