<div class="col-12 cover-img cover-img-workout">
    <div class="info-wrapper">
        <!-- <h1>Workouts</h1> -->
         <!-- here we shouold ahve logic for moving back and forth with workouts -->
          <!-- also having the login in center for user to chose a date and if there is workout to redirect them to that -->
    </div>
</div>

<div class="col-12 info-wrapper">
    <div class="d-flex justify-content-between align-items-center position-relative">
        <h1>{{workout.name}}</h1>
        <span class="edit-dots" (click)="onOpenEditMenu()">⋮</span>
        @if (selectedWorkoutMenu) {
            <div class="edit-menu" appClickOutside (clickOutside)="this.selectedWorkoutMenu = false">
                <ul>
                    <li (click)="editWorkout()">
                        <i class="fa-solid fa-pen-to-square"></i>
                        Edit
                    </li>
                    <li (click)="deleteWorkout()" class="delete-item">
                        <i class="fa-solid fa-trash"></i>
                        Delete
                    </li>
                </ul>
            </div>
        }
    </div>
    @if (workoutTime) {
        <p class="fs-4" style="margin-top: -20px;">{{ workoutTime }}</p>
    }
    <div class="d-flex mb-3">
        @if (workout.durationTime) {
            <div class="short-info-block">
                <span class="block-item">Time</span>
                <span class="block-item">{{ workout.durationTime | duration }}</span>
            </div>
        }
        @if (workout.bodyweight) {
            <div class="short-info-block">
                <span class="block-item">Bodyweight</span>
                <span class="block-item">{{ workout.bodyweight | measurementConverter:workout.bodyweightMeasurementUnitId }}</span>
            </div>
        }
        @if (workout.total) {
            <div class="short-info-block">
                <span class="block-item">Sets</span>
                <span class="block-item">{{ workout.total.sets }}</span>
            </div>
            <div class="short-info-block">
                <span class="block-item">Reps</span>
                <span class="block-item">{{ workout.total.reps }}</span>
            </div>
            <div class="short-info-block">
                <span class="block-item">Volume</span>
                <span class="block-item">{{ workout.total.volume }}</span>
            </div>
        }
    </div>

    <!-- EXERCISES -->

    @if (workout.exercises.length > 0) {
        @for (exercise of workout.exercises; track $index; let idx = $index) {
            <div class="d-flex justify-content-between align-items-center position-relative">
                <h3>{{ exercise.name | titlecase }}</h3>
                <span class="edit-dots" (click)="onOpenExerciseEditMenu(idx)">⋮</span>
                @if (selectedExerciseMenu === idx) {
                    <div class="edit-menu" appClickOutside (clickOutside)="this.selectedExerciseMenu = null">
                        <ul>
                            <li (click)="editExercise()">
                                <i class="fa-solid fa-pen-to-square"></i>
                                Edit
                            </li>
                            <li (click)="deleteExercise(exercise.id)" class="delete-item">
                                <i class="fa-solid fa-trash"></i>
                                Delete
                            </li>
                        </ul>
                    </div>
                }
            </div>
            <div class="row">
                <div class="mt-1 mb-3">
                        <!-- <button class="btn btn-light" (click)="modalService.showAddSetModal()"><i class="fa-solid fa-plus"></i> Add Set</button> -->
                </div>
            </div>
        }
    }

    <div class="row">
         <div class="mt-5 mb-3">
                <button class="btn btn-primary" (click)="modalService.showExerciseModal(workout.id)"><i class="fa-solid fa-dumbbell"></i> Add Exercise</button>
        </div>
    </div>
</div>