<div class="col-12 cover-img cover-img-workout">
    <div class="info-wrapper d-flex justify-content-between align-items-center">
        <div class="left">
            @if (workout()?.previousWorkoutId) {
                <span (click)="onGetOtherWorkout(1)">
                    <i class="fa-solid fa-arrow-left"></i> Previous
                </span>
            }
        </div>
        <div class="center">
            <span (click)="this.modalService.showBrowseWorkoutsModal(workout()!.logDate, workout()!.userId)">
                {{ workout()?.logDate | date: 'd MMM yyyy'}} <i class="fa-solid fa-angle-down"></i>
            </span>
        </div>
        <div class="right">
            @if (workout()?.nextWorkoutId) {
                <span (click)="onGetOtherWorkout(2)">
                    Next <i class="fa-solid fa-arrow-right"></i>
                </span>
            }
        </div>
    </div>
</div>

<div class="col-12 info-wrapper">
    @if (workout()) {
        <app-workout-template [workout]="workout()!"/>
    
        <hr>

        @if (!workout()?.isCompleted) {
            <button class="btn btn-lg btn-light" (click)="updateStatus()">
                <i class="fa-solid fa-check"></i> Complete Workout
            </button>
        }
        @else {
            <div class="p-4 w-100 text-center complete-msg-wrapper">
                <div class="d-flex flex-column justify-content-between align-items-center">
                    <i class="fa-solid fa-trophy"></i>
                    <h4>Congratulations!</h4>
                    <p>You've completed your workout. Fantastic effort!</p>
                    <button class="btn btn-light" (click)="updateStatus()">
                        <i class="fa-solid fa-arrow-rotate-left"></i> Mark Incomplete
                    </button>
                </div>
            </div>

            <div class="col-12 col-xl-7 mx-auto mt-5">
                <h3 class="text-center">Stats</h3>
                <div class="p-4 d-flex justify-content-between">
    
                    <div class="col-5" style="display: block;">
                        <canvas id="workout-radar-chart"></canvas>
                    </div>

                    <div class="border-start"></div>

                    <div class="col-5 my-auto">
                        <div class="d-sm-flex">
                            <div class="col-12 col-sm-5 p-0">
                                <app-workout-info-stats 
                                    [label]="'Sets'"
                                    [value]="workout()?.total?.sets!"
                                    [diff]="workout()?.previousWorkoutTotal?.setsDiff!"/>
                            </div>

                            <div class="col-12 col-sm-5 p-0 ms-sm-3 mt-3 mt-sm-0">
                                <app-workout-info-stats 
                                    [label]="'Reps'"
                                    [value]="workout()?.total?.reps!"
                                    [diff]="workout()?.previousWorkoutTotal?.repsDiff!"/>
                            </div>
                        </div>

                        <div class="d-sm-flex mt-3">
                            <div class="col-12 col-sm-5 p-0">
                               <app-workout-info-stats 
                                    [label]="'Volume'"
                                    [value]="workout()?.total?.volume!"
                                    [diff]="workout()?.previousWorkoutTotal?.volumeDiff!"/>
                            </div>
   
                            <div class="col-12 col-sm-5 p-0 ms-sm-3 mt-3 mt-sm-0">
                               <app-workout-info-stats 
                                    [label]="'Cardio'"
                                    [value]="workout()?.total?.cardioTime!"
                                    [diff]="workout()?.previousWorkoutTotal?.cardioTimeDiff!"/>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
        }
    }
</div>