<div class="col-12 cover-img cover-img-workout">
    <div class="info-wrapper d-flex justify-content-between align-items-center">
        <div class="left">
            @if (workout()?.previousWorkoutId) {
                <span (click)="onGetWorkout(1)">
                    <i class="fa-solid fa-arrow-left"></i> Previous
                </span>
            }
        </div>
        <div class="center">
            <span (click)="this.modalService.showBrowseWorkoutsModal(workout()!.logDate)">
                {{ workout()?.logDate | date: 'd MMM yyyy'}} <i class="fa-solid fa-angle-down"></i>
            </span>
        </div>
        <div class="right">
            @if (workout()?.nextWorkoutId) {
                <span (click)="onGetWorkout(2)">
                    Next <i class="fa-solid fa-arrow-right"></i>
                </span>
            }
        </div>
    </div>
</div>

<div class="col-12 info-wrapper">
    @if (workout()) {
        <app-workout-template [workout]="workout()!"></app-workout-template>
    
        <hr>

        @if (!workout()?.isCompleted) {
            <button class="btn btn-lg btn-light" (click)="updateStatus()">
                <i class="fa-solid fa-check"></i> Complete Workout
            </button>
        }
        @else {
            <div class="p-4 w-100 text-center complete-msg-wrapper">
                <div class="d-flex flex-column justify-content-between align-items-center">
                    <i class="fa-solid fa-trophy"></i>
                    <h4>Congratulations!</h4>
                    <p>You've completed your workout. Fantastic effort!</p>
                    <button class="btn btn-light" (click)="updateStatus()">
                        <i class="fa-solid fa-arrow-rotate-left"></i> Mark Incomplete
                    </button>
                </div>
            </div>
        }
    }
</div>