.edit-dots {
    cursor: pointer;
    color: var(--bs-blue);
    font-size: 3rem;
    font-weight: bold;
}
 
.edit-menu {
    position: absolute;
    background-color: #fff;
    border: 1px solid var(--bs-border-color);
    z-index: 10;
    width: 200px;
    padding: 0.5rem 0;
    text-align: start;
    align-items: center;
    border-radius: 5px;
    top: 60px;
    right: 0;
}

.edit-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.edit-menu ul li {
    padding: 0.3rem 0.8rem;
    cursor: pointer;
}

.edit-menu ul li:hover {
    background-color: #f4f4f4;
}

.edit-menu ul li:hover {
    background-color: #f4f4f4;
}

.edit-menu ul li.delete-item {
    color: red;
}

.edit-menu hr {
    margin: 0.5rem 0;
}

.short-info-block {
    margin-right: 1rem;
}

.short-info-block .block-item {
    padding: 0.5rem;
}
.short-info-block .block-item:nth-child(1) {
    background-color: #f4f4f4;
    border-radius: 5px 0 0 5px;
}
.short-info-block .block-item:nth-child(2) {
    background-color: var(--bs-blue);
    border-radius: 0 5px 5px 0;
    color: #ffffff;
}

textarea {
    resize: none;
}