<!-- EXERCISES -->

@if (exercises().length > 0) {
    @for (exercise of exercises(); track $index; let idx = $index) {
        <div class="d-flex justify-content-between align-items-center position-relative">
            <h3>{{ exercise.name | titlecase }}</h3>
            <span class="edit-dots edit-dots-exercise" (click)="onOpenExerciseEditMenu(idx)">⋮</span>
            @if (selectedExerciseMenu === idx) {
                <div class="edit-menu edit-menu-exercise" appClickOutside (clickOutside)="this.selectedExerciseMenu = null">
                    <ul>
                        <li (click)="howToExercise(exercise.apiExerciseId)">
                            <i class="fa-solid fa-graduation-cap"></i>
                            How To
                        </li>
                        @if (editable()) {
                            <hr>
                            <li (click)="editExerciseNotes(exercise)">
                                <i class="fa-solid fa-pencil"></i>
                                Edit Notes
                            </li>
                            <hr>
                            <li (click)="switchExercise(exercise.id, exercise.order)">
                                <i class="fa-solid fa-arrow-right-arrow-left"></i>
                                Switch Exercise
                            </li>
                            @if (exercise !== exercises()[0]) {
                                <li (click)="moveExercise(exercise, 1)">
                                    <i class="fa-solid fa-arrow-up"></i>
                                    Move Earlier
                                </li>
                            }
                            @if (exercise !== exercises()[exercises().length - 1]) {
                                <li (click)="moveExercise(exercise, 2)">
                                    <i class="fa-solid fa-arrow-down"></i>
                                    Move Later
                                </li>
                            }
                            <hr>
                            <li (click)="deleteExercise(exercise.id)" class="delete-item">
                                <i class="fa-solid fa-trash"></i>
                                Delete Exercise
                            </li>
                        }
                    </ul>
                </div>
            }
        </div>
        @if (exercise.notes) {
            <div>
                <textarea class="form-control" [name]="'exercise-notes-' + idx" [id]="'exercise-notes-' + idx" readonly rows="1" (focus)="editExerciseNotes(exercise)">{{ exercise.notes }}</textarea>
            </div>
        }

        @if (exercise.sets.length > 0) {
            <app-sets-template
                [exercise]="exercise"
                [editable]="editable()"
                [workoutId]="workoutId()"
            >
            </app-sets-template>

        }
        @if (editable()) {
           <div class="row">
               <div class="mt-1 mb-3">
                       <button class="btn btn-light" (click)="modalService.showAddSetModal(exercise?.sets?.[exercise.sets.length - 1] ?? null ,exercise, exercise.sets.length + 1)"><i class="fa-solid fa-plus"></i> Add Set</button>
               </div>
           </div>
       }
    }
}