.edit-dots-exercise {
    font-size: 2.2rem;
}
.edit-menu-exercise {
    top: 45px;
}


.edit-menu {
    width: 200px;
    top: 60px;
    right: 0;
    font-size: 0.9rem;
}

textarea {
    resize: none;
    font-size: 0.9rem;
}

