.edit-dots-exercise {
    font-size: 2.2rem;
}

.edit-menu {
    width: 200px;
    top: 45px;
    right: 0;
    font-size: 0.9rem;
}

textarea {
    resize: none;
    font-size: 0.9rem;
}

@media (max-width: 696px) {
    .exercise-name {
        font-size: 1.15em;
    }

    textarea {
        font-size: 0.7em;
    }

    .form-control {
        padding: 0.3rem 0.5rem;
    }
}
