.my-modal-body {
    padding: 1.2rem 0 0;
}

.filter-block {
    padding: 0 1.2rem 1.2rem;
    border-bottom: 1px solid #9f9f9f;
    background-color: #f8f8f8;
}


.input-addon-static {
  width: 9%;
  justify-content: center;
  color: #343a40;
}