<div class="col-12 cover-img cover-img-workout">
    <div class="info-wrapper">
        <h1>Workouts</h1>
    </div>
</div>

<div class="col-12 info-wrapper">
    <div class="row">
         <div class="top-btns mb-5">
                <button class="btn btn-primary" (click)="modalService.showAddWorkoutModal()"><i class="fa-solid fa-calendar"></i> Add Workout</button>
        </div>
    </div>

    @for (workout of workouts?.data; track workout) {
        <div class="pb-3">
            <app-workout-template 
                [workout]="workout" 
                [editable]="false"
                [isFromMainWorkoutsScren]="true"
            ></app-workout-template>
            <hr>
        </div>
    }

    @if (workouts?.data && workouts?.data!.length > 0) {
        <div class="flex justify-content-center">
            <p-paginator (onPageChange)="onPageChange($event)" 
                [first]="first" 
                [rows]="rows" 
                [totalRecords]="workouts?.total"
                [showFirstLastIcon]="true" />
        </div>
    }
</div>