<div class="col-12 cover-img cover-img-workout">
    <div class="info-wrapper">
        <h1>Workouts</h1>
    </div>
</div>

<div class="col-12 info-wrapper">
    @if (isCurrentUser) {
        <div class="row mb-3">
             <div>
                <button class="btn btn-primary" (click)="modalService.showAddWorkoutModal(userId)"><i class="fa-solid fa-calendar"></i> Add Workout</button>
            </div>
        </div>
    }

    <div class="workouts-calendar">
        <app-workouts-calendar [userId]="userId" />
    </div>

    @for (workout of workouts?.data; track workout) {
        <div class="pb-5">
            <app-workout-template 
                [workout]="workout" 
                [editable]="false"
                [showRouterLink]="true"
                [userId]="userId"/>
        </div>
    }

    @if (workouts?.data && workouts?.data!.length > 0) {
        <div class="flex justify-content-center">
            <p-paginator (onPageChange)="onPageChange($event)" 
                [first]="first" 
                [rows]="rows" 
                [totalRecords]="workouts?.total"
                [showFirstLastIcon]="true" />
        </div>
    }
</div>