<div class="col-12 info-wrapper">
    <h1>Settings</h1>

    <div class="col-12">
        <div class="col-md-12 col-lg-7">
            <h3>Personal Details</h3>

            <div class="position-relative">
                <form [formGroup]="form">
                     <div class="position-relative">
                        <label for="username">Username</label>
                        <div class="input-group mb-3" validation [key]="'Username'" [errors]="errors">
                            <input type="text" class="form-control" id="username" placeholder="Username" aria-label="Username" aria-describedby="username-addon" formControlName="username" />
                        </div>
                    </div>
                    <div class="position-relative">
                        <label for="fullName">Full Name</label>
                        <div class="input-group mb-3" validation [key]="'FullName'" [errors]="errors">
                            <input type="text" class="form-control" id="fullName" placeholder="Full Name" aria-label="Full Name" aria-describedby="fullName-addon" formControlName="fullName" />
                        </div>
                    </div>
                    <div class="position-relative">
                        <label for="gender">Gender</label>
                        <select id="gender" class="form-select mb-3" formControlName="genderId" validation [key]="'GenderId'" [errors]="errors">
                            @for (gender of genders; track gender) {
                                <option [ngValue]="gender.id">{{ gender.description }}</option>
                            }
                        </select>
                    </div>
                    <div class="position-relative">
                        <label for="dateOfBirth" class="form-label">Date Of Birth</label>
                        <div class="input-group mb-4" validation [key]="'DateOfBirth'" [errors]="errors">
                            <span class="input-group-text" id="dateOfBirth-addon"><i class="fa-solid fa-calendar"></i></span>
                            <input type="date" [min]="minDob" [max]="maxDob" class="form-control" id="dateOfBirth" placeholder="Date Of Birth" aria-label="Date Of Birth" aria-describedby="dateOfBirth-addon" formControlName="dateOfBirth" />
                        </div>
                    </div>
                    <div class="position-relative">
                        <label for="height">Height</label>
                        <div class="input-group mb-3" validation [key]="'Height'" [errors]="errors">
                            <input type="number" class="form-control" id="height" placeholder="0" aria-label="Height" aria-describedby="height-addon" formControlName="height" />
                            <span class="input-group-text" id="height-addon">{{ this.userMeasurementPreference | measurementUnitDescription }}</span>
                        </div>
                    </div>
                    <div class="position-relative">
                        <label for="country">Country</label>
                        <div class="input-group mb-3" validation [key]="'CountryId'" [errors]="errors">

                            <span class="input-group-text">
                                @if(selectedIso2) {
                                    <img  
                                        [src]="'https://flagsapi.com/' + selectedIso2 + '/flat/32.png'"
                                        style="height: 25px;"
                                    />
                                }
                            </span>

                            <select id="country" class="form-select" formControlName="countryId" (change)="onCountryChanged($event)">
                                @for (country of countries; track country) {
                                    <option [value]="country.id">{{ country.name }}</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="position-relative">
                        <label for="description" class="form-label">Description</label>
                        <div class="input-group mb-4" validation [key]="'Description'" [errors]="errors">
                            <textarea class="form-control" id="description" placeholder="Something about yourself..." aria-label="Description" aria-describedby="description-addon" formControlName="description" rows="3"></textarea>
                        </div>
                    </div>
                </form>

                <button class="btn btn-primary" (click)="submitPersonalDetails(form)">Update Profile</button>
            </div>
        </div>
    </div>

    <div class="col-12 row justify-content-between">
        <div class="col-md-12 col-lg-7">
            <h3>Profile Photo</h3>
        </div>
    </div>

    <div class="col-12 row justify-content-between">
        <div class="col-md-12 col-lg-7">
            <h3>Sharing Settings</h3>
        </div>
    </div>

    <div class="col-12 row justify-content-between">
        <div class="col-md-12 col-lg-7">
            <h3>Units of Measure</h3>
        </div>
    </div>

    <div class="col-12 row justify-content-between">
        <div class="col-md-12 col-lg-7">
            <h3>Account Email</h3>

            <div class="position-relative">
                <form [formGroup]="formEmail">
                    <div class="position-relative">
                        <label for="email" class="form-label">Email</label>
                        <div class="input-group mb-4" validation [key]="'Email'" [errors]="errors">
                            <span class="input-group-text" id="email-addon"><i class="fa-solid fa-at"></i></span>
                            <input type="email" class="form-control" id="email" placeholder="Email" aria-label="Email" aria-describedby="email-addon" formControlName="email" />
                        </div>
                    </div>
                </form>

                <button class="btn btn-primary" (click)="submitPersonalDetails(formEmail)">Change Email</button>
            </div>
            
        </div>
    </div>
</div>