<div class="my-backdrop"></div>
<section class="my-modal xs">
    <div class="my-modal-header">
        <h3>{{ modalType }} Measurement Goal</h3>
        <i class="fa-solid fa-circle-xmark" (click)="closeModal()"></i>
    </div>

    <div class="position-relative">
        <div class="my-modal-body" validation [key]="'MeasurementGoal'" [errors]="errors">
            @if (this.selectedMeasurementGoal === null) {
                <form [formGroup]="form">
                    <div class="position-relative">
                        <label for="startDate">Start Date</label>
                        <div class="input-group mb-3" validation [key]="'StartDate'" [errors]="errors">
                            <input type="date" class="form-control" id="startDate" placeholder="Start Date" aria-label="Start Date" aria-describedby="startDate-addon" formControlName="startDate" />
                        </div>
                    </div>

                    <div class="position-relative">
                        <label for="endDate">End Date</label>
                        <div class="input-group mb-3" validation [key]="'EndDate'" [errors]="errors">
                            <input type="date" class="form-control" id="endDate" placeholder="End Date" aria-label="End Date" aria-describedby="endDate-addon" formControlName="endDate" />
                        </div>
                    </div>
    
                    <!-- Waist -->
                    <div class="position-relative">
                        <label for="waist">Waist</label>
                        <div class="input-group mb-3" validation [key]="'Waist'" [errors]="errors">
                            <input type="number" class="form-control" id="waist" placeholder="0" aria-label="Waist" aria-describedby="waist-addon" formControlName="waist" />
                            <span class="input-group-text input-addon-static" id="waist-addon">{{ userWeightPreference | measurementUnitDescription }}</span>
                        </div>
                    </div>
    
                    <!-- Hips -->
                    <div class="position-relative">
                        <label for="hips">Hips</label>
                        <div class="input-group mb-3" validation [key]="'Hips'" [errors]="errors">
                            <input type="number" class="form-control" id="hips" placeholder="0" aria-label="Hips"
                                aria-describedby="hips-addon" formControlName="hips" />
                            <span class="input-group-text input-addon-static" id="hips-addon">
                                {{ userWeightPreference | measurementUnitDescription }}
                            </span>
                        </div>
                    </div>
    
                    <!-- Neck -->
                    <div class="position-relative">
                        <label for="neck">Neck</label>
                        <div class="input-group mb-3" validation [key]="'Neck'" [errors]="errors">
                            <input type="number" class="form-control" id="neck" placeholder="0" aria-label="Neck"
                                aria-describedby="neck-addon" formControlName="neck" />
                            <span class="input-group-text input-addon-static" id="neck-addon">
                                {{ userWeightPreference | measurementUnitDescription }}
                            </span>
                        </div>
                    </div>
    
                    <!-- Chest -->
                    <div class="position-relative">
                        <label for="chest">Chest</label>
                        <div class="input-group mb-3" validation [key]="'Chest'" [errors]="errors">
                            <input type="number" class="form-control" id="chest" placeholder="0" aria-label="Chest"
                                aria-describedby="chest-addon" formControlName="chest" />
                            <span class="input-group-text input-addon-static" id="chest-addon">
                                {{ userWeightPreference | measurementUnitDescription }}
                            </span>
                        </div>
                    </div>
    
                    <!-- Shoulders -->
                    <div class="position-relative">
                        <label for="shoulders">Shoulders</label>
                        <div class="input-group mb-3" validation [key]="'Shoulders'" [errors]="errors">
                            <input type="number" class="form-control" id="shoulders" placeholder="0" aria-label="Shoulders"
                                aria-describedby="shoulders-addon" formControlName="shoulders" />
                            <span class="input-group-text input-addon-static" id="shoulders-addon">
                                {{ userWeightPreference | measurementUnitDescription }}
                            </span>
                        </div>
                    </div>
    
                    <!-- Right Bicep -->
                    <div class="position-relative">
                        <label for="rightBicep">Right bicep</label>
                        <div class="input-group mb-3" validation [key]="'RightBicep'" [errors]="errors">
                            <input type="number" class="form-control" id="rightBicep" placeholder="0" aria-label="Right bicep"
                                aria-describedby="rightBicep-addon" formControlName="rightBicep" />
                            <span class="input-group-text input-addon-static" id="rightBicep-addon">
                                {{ userWeightPreference | measurementUnitDescription }}
                            </span>
                        </div>
                    </div>
    
                    <!-- Left Bicep -->
                    <div class="position-relative">
                        <label for="leftBicep">Left bicep</label>
                        <div class="input-group mb-3" validation [key]="'LeftBicep'" [errors]="errors">
                            <input type="number" class="form-control" id="leftBicep" placeholder="0" aria-label="Left bicep"
                                aria-describedby="leftBicep-addon" formControlName="leftBicep" />
                            <span class="input-group-text input-addon-static" id="leftBicep-addon">
                                {{ userWeightPreference | measurementUnitDescription }}
                            </span>
                        </div>
                    </div>
    
                    <!-- Right Forearm -->
                    <div class="position-relative">
                        <label for="rightForearm">Right forearm</label>
                        <div class="input-group mb-3" validation [key]="'RightForearm'" [errors]="errors">
                            <input type="number" class="form-control" id="rightForearm" placeholder="0" aria-label="Right forearm"
                                aria-describedby="rightForearm-addon" formControlName="rightForearm" />
                            <span class="input-group-text input-addon-static" id="rightForearm-addon">
                                {{ userWeightPreference | measurementUnitDescription }}
                            </span>
                        </div>
                    </div>
    
                    <!-- Left Forearm -->
                    <div class="position-relative">
                        <label for="leftForearm">Left forearm</label>
                        <div class="input-group mb-3" validation [key]="'LeftForearm'" [errors]="errors">
                            <input type="number" class="form-control" id="leftForearm" placeholder="0" aria-label="Left forearm"
                                aria-describedby="leftForearm-addon" formControlName="leftForearm" />
                            <span class="input-group-text input-addon-static" id="leftForearm-addon">
                                {{ userWeightPreference | measurementUnitDescription }}
                            </span>
                        </div>
                    </div>
    
                    <!-- Right Thigh -->
                    <div class="position-relative">
                        <label for="rightThigh">Right thigh</label>
                        <div class="input-group mb-3" validation [key]="'RightThigh'" [errors]="errors">
                            <input type="number" class="form-control" id="rightThigh" placeholder="0" aria-label="Right thigh"
                                aria-describedby="rightThigh-addon" formControlName="rightThigh" />
                            <span class="input-group-text input-addon-static" id="rightThigh-addon">
                                {{ userWeightPreference | measurementUnitDescription }}
                            </span>
                        </div>
                    </div>
    
                    <!-- Left Thigh -->
                    <div class="position-relative">
                        <label for="leftThigh">Left thigh</label>
                        <div class="input-group mb-3" validation [key]="'LeftThigh'" [errors]="errors">
                            <input type="number" class="form-control" id="leftThigh" placeholder="0" aria-label="Left thigh"
                                aria-describedby="leftThigh-addon" formControlName="leftThigh" />
                            <span class="input-group-text input-addon-static" id="leftThigh-addon">
                                {{ userWeightPreference | measurementUnitDescription }}
                            </span>
                        </div>
                    </div>
    
                    <!-- Right Calf -->
                    <div class="position-relative">
                        <label for="rightCalf">Right calf</label>
                        <div class="input-group mb-3" validation [key]="'RightCalf'" [errors]="errors">
                            <input type="number" class="form-control" id="rightCalf" placeholder="0" aria-label="Right calf"
                                aria-describedby="rightCalf-addon" formControlName="rightCalf" />
                            <span class="input-group-text input-addon-static" id="rightCalf-addon">
                                {{ userWeightPreference | measurementUnitDescription }}
                            </span>
                        </div>
                    </div>
    
                    <!-- Left Calf -->
                    <div class="position-relative">
                        <label for="leftCalf">Left calf</label>
                        <div class="input-group mb-3" validation [key]="'LeftCalf'" [errors]="errors">
                            <input type="number" class="form-control" id="leftCalf" placeholder="0" aria-label="Left calf"
                                aria-describedby="leftCalf-addon" formControlName="leftCalf" />
                            <span class="input-group-text input-addon-static" id="leftCalf-addon">
                                {{ userWeightPreference | measurementUnitDescription }}
                            </span>
                        </div>
                    </div>
                </form>
            }
            @else {
                <form [formGroup]="updateForm">
                    <div class="position-relative">
                        <label for="startDate">Start Date</label>
                        <div class="input-group mb-3" validation [key]="'StartDate'" [errors]="errors">
                            <input type="date" class="form-control" id="startDate" placeholder="Start Date" aria-label="Start Date" aria-describedby="startDate-addon" formControlName="startDate" />
                        </div>
                    </div>

                    <div class="position-relative">
                        <label for="endDate">End Date</label>
                        <div class="input-group mb-3" validation [key]="'EndDate'" [errors]="errors">
                            <input type="date" class="form-control" id="endDate" placeholder="End Date" aria-label="End Date" aria-describedby="endDate-addon" formControlName="endDate" />
                        </div>
                    </div>
                    
                    <!-- Body part -->
                    <div class="position-relative">
                        <label for="bodyPart">{{ this.selectedMeasurementGoal!.bodyPartId | enumName:'BodyParts' }}</label>
                        <div class="input-group mb-3" validation [key]="'Size'" [errors]="errors">
                            <input type="number" class="form-control" id="bodyPart" placeholder="0" aria-label="bodyPart"
                                aria-describedby="bodyPart-addon" formControlName="size" />
                            <span class="input-group-text input-addon-static" id="bodyPart-addon">
                                {{ userWeightPreference | measurementUnitDescription }}
                            </span>
                        </div>
                    </div>
                </form>
            }
        </div>
    </div>

    <div class="my-modal-footer">
        <button class="btn btn-primary" (click)="this.selectedMeasurementGoal === null ? submitCreate() : submitUpdate()">Save</button>
        <button class="btn btn-secondary" (click)="closeModal()">Close</button>
    </div>
</section>