<div class="col-12 cover-img cover-img-exercises">
    <div class="info-wrapper d-flex justify-content-start align-items-center">
        <h1 style="cursor: pointer; width: auto;" (click)="modalService.showExereciseReportModal(userId)">
            {{ exerciseInfo?.name ?? '' }} <i class="fa-solid fa-angle-down"></i>
        </h1>
        <div style="margin-top: -1.5rem;" class="ms-4">
            <app-short-info-stats
                [name]="'1RM'"
                [value]="exerciseData[0]?.total?.oneRepMax ?? 0"
                [templateAddon]="' ' + 'kg'"/>
        </div>
    </div>
</div>

<div class="col-12 info-wrapper">
    <div class="d-flex justify-content-start align-items-center gap-3">
        @if (isCurrentUser && !exerciseInfo?.isCardio) {
            <button class="btn btn-secondary" (click)="modalService.showAddExerciseGoalModal(exerciseId)"><i class="fa-solid fa-chart-line"></i> Add Goal</button>
        }

        <button class="btn btn-light" (click)="modalService.showHowToExerciseModal(exerciseId)"><i class="fa-solid fa-graduation-cap"></i> How To</button>
    </div>

    <hr>

    <div class="pt-2">
        <div class="d-flex justify-content-start flex-nowrap align-items-center">
            <div>
                <select id="chart-timespan" class="form-select" [(ngModel)]="selectedChartData" (change)="onChartDataChange()">
                    @for (d of exerciseService.exerciseChartData; track d) {
                        <option [ngValue]="d.id">{{ d.name }}</option>
                    }
                </select>
            </div>
            <div class="ms-3">
                <select id="chart-timespan" class="form-select" [(ngModel)]="selectedTimespan" (change)="onTimespanChange()">
                    @for (ts of chartTimespans; track ts) {
                        <option [ngValue]="ts.id">{{ ts.description }}</option>
                    }
                </select>
            </div>
        </div>
        <div style="display: block; max-height: 40dvh; width: 100%;">
            <canvas id="exercises-line-chart" style="width: 100% !important;"></canvas>
        </div>
    </div>

    @if (workoutsData.data.length > 0) {
        <div class="pt-5">
            <h3>Workouts</h3>

            @for (workout of workoutsData.data; track $index) {
                <div class="pb-5">
                    <app-workout-template 
                        [workout]="workout" 
                        [editable]="false"
                        [showRouterLink]="true"
                        [userId]="userId"
                        [isFromExerciseScreen]="true"/>
                </div>
            }

            @if (workoutsData.data.length > 0) {
                <div class="flex justify-content-center">
                    <p-paginator (onPageChange)="onWorkoutsPageChange($event)" 
                        [first]="workoutsFirst" 
                        [rows]="workoutsRows" 
                        [totalRecords]="workoutsData.total"
                        [showFirstLastIcon]="workoutsData.total > 25" />
                </div>
            }
        </div>
    }

    @if (paginatedGoalsData.data.length > 0) {
        <div class="pt-5">
            <h3>Goals</h3>
            <table class="data-table data-table-goals">
                <thead>
                    <tr>
                        <th>Start</th>
                        <th>Finish</th>
                        <th>Weight</th>
                        <th>Reps</th>
                        <th></th> <!-- Empty heading for edit dots -->
                    </tr>
                </thead>
                <tbody>
                    @for (row of paginatedGoalsData.data; track row; let idx = $index) {
                        <tr [ngClass]="{'odd-row': idx % 2 !== 0}">
                            <td>
                                {{ row.startDate! | utcToLocal:'MMM d' }}
                                <br/>
                                <small>{{ row.startDate! | utcToLocal:'yyyy' }}</small>
                            </td>
                            <td>
                                {{ row.endDate! | utcToLocal:'MMM d' }}
                                <br/>
                                <small>{{ row.endDate! | utcToLocal:'yyyy' }}</small>
                            </td>
                            <td>{{ row.weight | measurementConverter:row.weightUnitId }}</td>
                            <td>{{ row.reps }}</td>
                            <td>
                                @if (isCurrentUser) {
                                    <span class="edit-dots" (click)="onOpenEditMenu(idx)">⋮</span>
                                    @if (selectedGoalMenu === idx) {
                                        <div class="edit-menu" appClickOutside (clickOutside)="this.selectedGoalMenu = null">
                                            <ul>
                                                <li (click)="editExerciseGoal(row)">
                                                    <i class="fa-solid fa-pen"></i>
                                                    Edit
                                                </li>
                                                <li (click)="deleteExerciseGoal(row.id)" class="delete-item">
                                                    <i class="fa-solid fa-trash"></i>
                                                    Delete
                                                </li>
                                            </ul>
                                        </div>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="d-flex justify-content-center">
                <p-paginator (onPageChange)="onPageChange($event)" 
                    [first]="goalsFirst" 
                    [rows]="rows" 
                    [totalRecords]="paginatedGoalsData.total"
                    [showFirstLastIcon]="paginatedGoalsData.total > 25" />
            </div>
        </div>
    }
</div>