.cover-img-exercises {
    background-image: url('../../../assets/images/workouts.jpg');
    background-position: center;
}

.chip {
    background-color: var(--bs-light);
    padding: 0.2rem 0.4rem;
}

.chip i {
    font-size: 1em;
    cursor: pointer;
    color: #a3a3a3;
}
.chip i:hover {
    color: #6c757d;
}

.remove-mark {
    text-align: end;
}

.custom-legend {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 10px;
}

.legend-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  user-select: none;
}

.legend-item .color-box {
  width: 40px;
  height: 15px;
  margin-right: 6px;
}

.legend-item.hidden {
  opacity: 0.5;
  text-decoration: line-through;
}