<div class="col-12 cover-img cover-img-exercises">
    <div class="info-wrapper">
        <h1>Exercises</h1>
    </div>
</div>

<div class="col-12 info-wrapper">
    <div class="d-flex justify-content-between">
        <div class="left">
            <h3>Exercise Reports</h3>
            <p class="fs-4">Select an exercise to see your exercise report:</p>
            <button class="btn btn-primary" (click)="modalService.showExereciseReportModal()">Select Exercise <i class="fa-solid fa-angle-down"></i></button>
        </div>
    </div>

    <div class="d-flex flex-column pt-5">
        <h3>Exercise Comparison</h3>
        <div class="d-flex justify-content-start align-items-center">
            <p class="mb-0">Selected exercises ({{ selectedExercises.length }}/5): </p>

            @for (exercise of selectedExercises; track exercise) {
                <div class="d-flex justify-content-between align-items-center ms-3 chip" (click)="openExerciseReportPage(exercise.id)">
                    <small class="clickable">{{ exercise.name | titlecase }}</small>
                    <div class="remove-mark d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-circle-xmark" (click)="removeExerciseForComparison(exercise.id); $event.stopPropagation()"></i>
                    </div>
                </div>
            }

            @if (selectedExercises.length < 5) {
                <button class="btn btn-sm btn-light ms-3" (click)="modalService.showAddExerciseForComparisonModal()">
                     <i class="fa-solid fa-square-plus"></i>
                    Add Exercise
                </button>
            }
        </div>

        <hr>

        <div class="pt-2">
            <div class="d-flex justify-content-start flex-nowrap align-items-center">
                <div>
                    <select id="chart-timespan" class="form-select" [(ngModel)]="selectedChartData" (change)="onChartDataChange()">
                        @for (d of exerciseService.exerciseChartData; track d) {
                            <option [ngValue]="d.id">{{ d.name }}</option>
                        }
                    </select>
                </div>
                <div class="ms-3">
                    <select id="chart-timespan" class="form-select" [(ngModel)]="selectedTimespan" (change)="onTimespanChange()">
                        @for (ts of chartTimespans; track ts) {
                            <option [ngValue]="ts.id">{{ ts.description }}</option>
                        }
                    </select>
                </div>
            </div>
            <div style="display: block; max-height: 40dvh; width: 100%;">
                <canvas id="exercises-line-chart" style="width: 100% !important;"></canvas>
            </div>
            <div class="custom-legend mt-4">
                @for (dataset of dataDatasets; track dataset; let idx = $index) {
                    <div class="legend-item" [class.hidden]="!dataset.visible" (click)="toggleDataset(idx)">
                        <span class="color-box" [style.backgroundColor]="dataset.borderColor"
                            [ngStyle]="{
                                'backgroundColor': getTransparentColor(dataset.borderColor),
                                'border': '3px solid' + dataset.borderColor
                            }"></span>
                        {{ dataset.label }}
                    </div>
                }
            </div>
        </div>
    </div>
</div>