.cover-img-measurement {
  background-image: url('../../../assets/images/measurements.jpg');
}

.data-table th:nth-child(2), 
.data-table td:nth-child(2) {
	 text-align: left;
}
.data-table th:nth-child(3), 
.data-table td:nth-child(3) {
	 text-align: right;
}
.data-table th:nth-child(4), 
.data-table td:nth-child(4) {
	 width: 30px;
	 text-align: center;
}
.data-table-goals th:nth-child(1), 
.data-table-goals td:nth-child(1),
.data-table-goals th:nth-child(2), 
.data-table-goals td:nth-child(2) {
	width: 85px;
}
.data-table-goals th:nth-child(3), 
.data-table-goals td:nth-child(3) {
	 text-align: left;
}
.data-table-goals th:nth-child(4), 
.data-table-goals td:nth-child(4) {
	 text-align: right;
     width: 75px;
}
.data-table-goals th:nth-child(5), 
.data-table-goals td:nth-child(5) {
	 width: 30px;
	 text-align: center;
}

.custom-legend {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 10px;
}

.legend-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  user-select: none;
}

.legend-item .color-box {
  width: 20px;
  height: 10px;
  border-radius: 3px;
  margin-right: 6px;
}

.legend-item.hidden {
  opacity: 0.3;
}