<div class="col-12 cover-img cover-img-measurement">
    <div class="info-wrapper">
        <h1>Measurement</h1>
    </div>
</div>

<div class="col-12 info-wrapper">

    <div class="col-12 row justify-content-between">
        <div class="col-md-12 col-lg-7">
            <div class="d-flex text-center border-bottom mb-3">
                <div class="col-3">
                    <p class="text-uppercase info-header">Waist</p>
                    <p class="fw-bold fs-3">
                        {{ currentMeasurements?.waist ? (currentMeasurements!.waist | measurementConverter:currentMeasurements!.waistMeasurementUnitId) : '' }}
                    </p>
                </div>
                <div class="col-3">
                    <p class="text-uppercase info-header">Chest</p>
                    <p class="fw-bold fs-3">
                        {{ currentMeasurements?.chest ? (currentMeasurements!.chest | measurementConverter:currentMeasurements!.chestMeasurementUnitId) : '' }}
                    </p>
                </div>
                <div class="col-3">
                    <p class="text-uppercase info-header">Thighs</p>
                    <p class="fw-bold fs-3">
                        {{ currentMeasurements?.thighs ? (currentMeasurements!.thighs | measurementConverter:currentMeasurements!.thighsMeasurementUnitId) : '' }}
                    </p>
                </div>
                <div class="col-3">
                    <p class="text-uppercase info-header">Biceps</p>
                    <p class="fw-bold fs-3">
                        {{ currentMeasurements?.biceps ? (currentMeasurements!.biceps | measurementConverter:currentMeasurements!.bicepsMeasurementUnitId) : '' }}
                    </p>
                </div>
            </div>

            <div class="pt-2">
                <div class="d-flex justify-content-start flex-nowrap align-items-center">
                    <div>
                        <select id="chart-timespan" class="form-select" [(ngModel)]="selectedTimespan" (change)="onTimespanChange()">
                            @for (ts of chartTimespans; track ts) {
                                <option [ngValue]="ts.id">{{ ts.description }}</option>
                            }
                        </select>
                    </div>
                </div>
                <div style="display: block;">
                    <canvas id="measurements-line-chart"></canvas>
                </div>
                <div class="custom-legend mt-4">
                    @for (dataset of dataDatasets; track dataset; let idx = $index) {
                        <div class="legend-item" [class.hidden]="!dataset.visible" (click)="toggleDataset(idx)">
                            <span class="color-box" [style.backgroundColor]="dataset.borderColor"
                                [ngStyle]="{
                                    'backgroundColor': getTransparentColor(dataset.borderColor),
                                    'border': '3px solid' + dataset.borderColor
                                }"></span>
                            {{ dataset.label }}
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-4 d-flex flex-column mb-3 mt-3 mt-lg-0">
            <div class="d-flex justify-content-start align-items-center flex-wrap gap-3 mb-3">
                <button class="btn btn-primary" (click)="modalService.showAddMeasurementModal()"><i class="fa-solid fa-ruler"></i> Add Measurement</button>
                <button class="btn btn-secondary" (click)="modalService.showAddMeasurementGoalModal()"><i class="fa-solid fa-chart-line"></i> Add Goal</button>
            </div>

            <div class="bottom-data">
                <div class="d-flex align-items-center">
                @for (tab of tabs; track tab; let idx = $index) {
                    <div [ngClass]="{'tab': true, 'active': selectedTab === idx}" (click)="onSelectTab(idx)">
                        @if (tab.iconClass) {
                            <i [class]="tab.iconClass"></i>
                        }
                        {{ tab.label }}
                    </div>
                }
                    <!-- Empty filler div for the remaining space -->
                    <div class="filler"></div>
                </div>

            @if (selectedTab === 0) {
                <table class="data-table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Body Part</th>
                            <th>Size</th>
                            <th></th> <!-- Empty heading for edit dots -->
                        </tr>
                    </thead>
                    <tbody>
                        @for (row of measurements?.data; track row; let idx = $index) {
                            <tr [ngClass]="{'odd-row': idx % 2 !== 0}">
                                <td>
                                    {{ row.logDate! | utcToLocal:'MMM d' }}
                                    <br/>
                                    <small>{{ row.logDate! | utcToLocal:'yyyy' }}</small>
                                </td>
                                <td>{{ row.bodyPartId | enumName:'BodyParts' }}</td>
                                <td>{{ row.size | measurementConverter:row.measurementUnitId }}</td>
                                <td>
                                    <span class="edit-dots" (click)="onOpenEditMenu(idx)">⋮</span>
                                    @if (selectedMeasurementMenu === idx) {
                                        <div class="edit-menu" appClickOutside (clickOutside)="this.selectedMeasurementMenu = null">
                                            <ul>
                                                <li (click)="editMeasurement(row)">
                                                    <i class="fa-solid fa-pen"></i>
                                                    Edit
                                                </li>
                                                <li (click)="deleteMeasurement(row.id)" class="delete-item">
                                                   <i class="fa-solid fa-trash"></i>
                                                    Delete
                                                </li>
                                            </ul>
                                        </div>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="flex justify-content-center">
                    <p-paginator (onPageChange)="onPageChange($event)" 
                        [first]="measurementsFirst" 
                        [rows]="rows" 
                        [totalRecords]="measurements?.total"
                        [showFirstLastIcon]="false" />
                </div>
            }
            @else if (selectedTab === 1) {
                <table class="data-table data-table-goals">
                    <thead>
                        <tr>
                            <th>Start</th>
                            <th>Finish</th>
                            <th>Body Part</th>
                            <th>Size</th>
                            <th></th> <!-- Empty heading for edit dots -->
                        </tr>
                    </thead>
                    <tbody>
                        @for (row of measurementGoals?.data; track row; let idx = $index) {
                            <tr [ngClass]="{'odd-row': idx % 2 !== 0}">
                                <td>
                                    {{ row.startDate! | utcToLocal:'MMM d' }}
                                    <br/>
                                    <small>{{ row.startDate! | utcToLocal:'yyyy' }}</small>
                                </td>
                                <td>
                                    {{ row.endDate! | utcToLocal:'MMM d' }}
                                    <br/>
                                    <small>{{ row.endDate! | utcToLocal:'yyyy' }}</small>
                                </td>
                                <td>{{ row.bodyPartId | enumName:'BodyParts' }}</td>
                                <td>{{ row.size | measurementConverter:row.measurementUnitId }}</td>
                                <td>
                                    <span class="edit-dots" (click)="onOpenEditMenu(idx)">⋮</span>
                                    @if (selectedMeasurementGoalMenu === idx) {
                                        <div class="edit-menu" appClickOutside (clickOutside)="this.selectedMeasurementGoalMenu = null">
                                            <ul>
                                                <li (click)="editMeasurementGoal(row)">
                                                    <i class="fa-solid fa-pen"></i>
                                                    Edit
                                                </li>
                                                <li (click)="deleteMeasurementGoal(row.id)" class="delete-item">
                                                   <i class="fa-solid fa-trash"></i>
                                                    Delete
                                                </li>
                                            </ul>
                                        </div>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="d-flex justify-content-center">
                    <p-paginator (onPageChange)="onPageChange($event)" 
                        [first]="measurementGoalsFirst" 
                        [rows]="rows" 
                        [totalRecords]="measurementGoals?.total"
                        [showFirstLastIcon]="false" />
                </div>
            }       
            </div>
        </div>
    </div>
</div>