<div class="my-backdrop"></div>
<section class="my-modal xs">
    <div class="my-modal-header">
        <h3>Browse Workouts</h3>
        <i class="fa-solid fa-circle-xmark" (click)="closeModal()"></i>
    </div>
    
    <div class="position-relative">
        <div class="my-modal-body">
            <app-workouts-calendar [selectedDate]="selectedDate"/>
        </div>
    </div>

    <div class="my-modal-footer">
        <button class="btn btn-secondary" (click)="closeModal()">Close</button>
    </div>
</section>