<div class="my-backdrop"></div>
<section class="my-modal xs">
    <div class="my-modal-header">
        <h3>Browse Workouts</h3>
        <i class="fa-solid fa-circle-xmark" (click)="closeModal()"></i>
    </div>
    
    <div class="position-relative">
        <div class="my-modal-body">
            <div class="d-flex flex-column justify-content-between">
                <p-datepicker
                    [(ngModel)]="selectedDate!"
                    [disabledDates]="disabledDates"
                    [showIcon]="false"
                    [inline]="true"
                    (onSelect)="onDateSelect($event)">
                    <ng-template #date let-date>
                        <div class="day-cell" [ngClass]="{ 'workout-day': isWorkoutDateFromTemplate(date), 'disabled': date.disabled }">
                        {{ date.day }}
                        </div>
                    </ng-template>
                </p-datepicker>
            </div>
        </div>
    </div>

    <div class="my-modal-footer">
        <button class="btn btn-secondary" (click)="closeModal()">Close</button>
    </div>
</section>