.info-wrapper-banner {
  padding: 1rem 15rem;
  color: white;
}

.info-wrapper p {
  margin-bottom: 0;
}

.profile-image-wrapper {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.default-icon {
    width: 100%;
    height: 100%;
    background: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: #888;
}

.short-info-block-home {
  margin-right: 0.5rem;
  padding: 0.15rem 0.5rem;
  background-color: #f4f4f4;
  border-radius: 5px;
  color: #343a40;
  font-size: 0.85em;
}

.workouts-calendar {
  width: 25%;
  min-height: 45dvh;
}
@media (max-width: 1726px) {
  .workouts-calendar {
    width: 30%;
  }
}
@media (max-width: 1520px) {
  .workouts-calendar {
    width: 35%;
  }
}
@media (max-width: 960px) {
  .workouts-calendar {
    width: 40%;
  }
}
@media (max-width: 850px) {
  .workouts-calendar {
    width: 50%;
  }
}
@media (max-width: 695px) {
  .workouts-calendar {
    width: 70%;
    margin-bottom: -4.5rem;
    transform: scale(0.75); /* shrink everything */
    transform-origin: top left;
  }
  /* Optional: adjust spacing */
  ::ng-deep .p-datepicker-calendar th,
  ::ng-deep .p-datepicker-calendar td {
    padding: 0.25rem !important;
  }

  /* Reduce header height */
  ::ng-deep .p-datepicker-header {
    padding: 0.25rem !important;
  }
}
@media (max-width: 530px) {
  .workouts-calendar {
    width: 100%;
  }
}
@media (max-width: 420px) {
  ::ng-deep .p-datepicker {
    transform: scale(0.95);
    transform-origin: top left;
  }

  
}
@media (max-width: 390px) {
  ::ng-deep .p-datepicker {
    transform: scale(0.92);
  }
}