<div class="col-12 cover-img">
    <div class="info-wrapper info-wrapper-banner">
      <div class="d-flex justify-content-start gap-3 align-items-center">
        <div class="profile-image-wrapper">
          @if(user()?.profilePictureUrl) {
            <img [src]="user()!.profilePictureUrl" class="profile-image"/>
          }
          @else {
            <div class="default-icon">
                <i class="fa-solid fa-user"></i>
            </div>
          }
        </div>

        <div class="profile-info d-flex flex-column justify-content-start gap-1">
          <h1>{{ user()?.username }}</h1>
          <p class="fs-6">{{ user()?.fullName }}</p>
          <span class="d-flex">
            @if (countryIso2) {
              <div class="short-info-block-home">
                <img  
                    [src]="'https://flagsapi.com/' + countryIso2 + '/flat/32.png'"
                    style="height: 20px;"
                />
              </div>
            }
            @if (user()?.genderId) {
              <div class="short-info-block-home">
                {{ user()!.genderId | enumName:'UserGenders'}}
              </div>
            }
            @if (age) {
              <div class="short-info-block-home">
                {{ age + ' yso' }}
              </div>
            }
            @if(user()?.height) {
              <div class="short-info-block-home">
                {{ userHeight + ' ' + userHeightMeasurementPreference }}
              </div>
            }
          </span>
          <span class="fs-5"><b>650</b> workouts</span>
          @if(user()?.description) {
            <div style="width: 500px;">
              {{ user()!.description }}
            </div>
          }
        </div>
      </div>
    </div>
</div>

<div class="col-12 info-wrapper">
  @if (isCurrentUser || (!isCurrentUser && !user()?.isPrivate)) {
    <div class="d-flex justify-content-start gap-2">
        <button class="btn btn-light" [routerLink]="'/user/' + user()!.id + '/workouts/'"><i class="fa-solid fa-dumbbell"></i> Workouts</button>
        <button class="btn btn-light" routerLink="/exercises"><i class="fa-solid fa-chart-bar"></i> Exercises</button>
        <button class="btn btn-light" routerLink="/bodyweight"><i class="fa-solid fa-weight-scale"></i> Bodyweight</button>
        <button class="btn btn-light" routerLink="/measurement"><i class="fa-solid fa-ruler"></i> Measurements</button>
    </div>
    
    <div class="workouts-calendar mt-4">
        <app-workouts-calendar [userId]="user()!.id" />
    </div>
  }
  @else {
    <div class="d-flex justify-content-center align-items-center">
      <i class="fa-solid fa-lock" style="font-size: 2em;"></i>
      <h1>Profile is private</h1>
    </div>
  }

</div>