.info-wrapper {
  padding: 1rem 8rem;
  color: white;
}

.info-wrapper p {
  margin-bottom: 0;
}

.profile-image-wrapper {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.default-icon {
    width: 100%;
    height: 100%;
    background: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: #888;
}

.short-info-block-home {
  margin-right: 0.5rem;
  padding: 0.15rem 0.5rem;
  background-color: #f4f4f4;
  border-radius: 5px;
  color: #343a40;
  font-size: 0.85em;
}