.edit-dots-set {
    font-size: 1.2rem;
}

.edit-menu {
    width: 200px;
    top: 35px;
    right: 0;
    font-size: 0.9rem;
}

textarea {
    resize: none;
    font-size: 0.9rem;
}

.data-table {
    margin-top: 0.5rem;
}
.data-table tr {
    border-bottom: 1px solid var(--bs-border-color);
}
.data-table tr:last-child {
    border-bottom: none;
}

.warmup {
    background-color: rgba(13, 110, 253, 0.08);
}
.warmup-text {
    font-style: italic;
    color: rgba(0, 0, 0, 0.5);
}