<table class="data-table">
  <thead>
      <tr >
          <th style="width: 100px;">Id</th>
          <th>Full Name</th>
          <th>Username</th>
          <th>Email</th>
          <th class="text-center" style="width: 100px;">Age</th>
          <th class="text-center" style="width: 100px;">Gender</th>
          <th class="text-center" style="width: 100px;">Country</th>
          <th class="text-center">Is Private</th>
          <th class="text-center">Status</th>
      </tr>
  </thead>
  <tbody>
      <tr [formGroup]="form">
        <td>
          <input type="number" class="form-control" id="userId" [placeholder]="currentUserId" formControlName="userId" />
        </td>
        <td colspan="3">
          <input type="search" class="form-control" id="search" placeholder="Search..." formControlName="search" />
        </td>
        <td>
          <select id="ageRange" class="form-select" formControlName="ageRangeId">
              @for (range of ageRanges; track $index) {
                  <option [ngValue]="range.id">{{ range.description }}</option>
              }
          </select>
        </td>
        <td>
          <select id="gender" class="form-select" formControlName="genderId">
              @for (gender of genders; track gender) {
                  <option [ngValue]="gender.id">{{ gender.description }}</option>
              }
          </select>
        </td>
        <td>
          <select id="country" class="form-select" formControlName="countryId">
            <option value="0"></option>
              @for (country of countries; track country) {
                  <option [value]="country.id">{{ country.name }}</option>
              }
          </select>
        </td>
        <td></td>
        <td></td>
      </tr>
      @for (user of users.data; track $index; let idx = $index) {
          <tr [ngClass]="{
            'odd-row': idx % 2 !== 0,
            'current-user': user.id === currentUserId,
            'deactivated': user.isActive !== true
            }">
              <td>{{ user.id }}</td>
              <td>{{ user.fullName }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.email }}</td>
              <td class="text-center">{{ getUserAge(user.dateOfBirth) }}</td>
              <td class="text-center">{{ user.genderId | enumName:'UserGenders' }}</td>
              <td class="text-center">
                @if (user.countryId) {
                  <img  
                      [src]="'https://flagsapi.com/' + getUserCountryIso2(user.id) + '/flat/32.png'"
                      style="height: 20px;"
                  />
                }
              </td>
              <td class="text-center">{{ user.isPrivate ? 'true' : 'false' }}</td>

              <td class="text-center">
                @if (user.isActive) {
                  <button class="btn btn-sm btn-danger" style="width: 85px;"
                    (click)="onAccountDeactivating(user.id)">
                    Deactivate
                  </button>
                }
                @else if (!user.isActive) {
                  <button class="btn btn-sm btn-success" style="width: 85px;"
                    (click)="onAccountActivating(user.id, user.deactivateReason)">
                    Activate
                  </button>
                }
              </td>
          </tr>
      }
  </tbody>
</table>
<div class="flex justify-content-center">
    <p-paginator (onPageChange)="onPageChange($event)" 
        [first]="first" 
        [rows]="rows" 
        [totalRecords]="users.total"
        [showFirstLastIcon]="false" />
</div>