.edit-dots-workout {
    font-size: 3rem;
}

.edit-menu {
    width: 200px;
    top: 60px;
    right: 0;
    font-size: 0.9rem;
}

textarea {
    resize: none;
    font-size: 0.9rem;
}

.clickable {
    cursor: pointer;
    color: var(--bs-blue);
}
.clickable:hover {
    color: #343a40;
}