<div class="d-flex justify-content-between align-items-center position-relative">
    <h2 
        [class.clickable]="showRouterLink()" 
        [routerLink]="showRouterLink() ? ['/user', userId(), 'workouts', workout()!.id] : null"
    >
        {{ showRouterLink() ? (workout()!.logDate | date:'dd MMMM yyyy') + ' - ' : '' }}
        {{ workout()!.name }}
        @if (workout()?.isCompleted) {
            <i class="fa-solid fa-circle-check" style="font-size: 1.5rem;"></i>
        }
    </h2>
    @if (editable() && !workout()?.isCompleted) {
        <span class="edit-dots edit-dots-workout" (click)="onOpenEditMenu()">⋮</span>
        @if (selectedWorkoutMenu) {
            <div class="edit-menu" appClickOutside (clickOutside)="this.selectedWorkoutMenu = false">
                <ul>
                    <li (click)="editWorkout()">
                        <i class="fa-solid fa-pen-to-square"></i>
                        Edit
                    </li>
                    <hr>
                    <li (click)="deleteWorkout()" class="delete-item">
                        <i class="fa-solid fa-trash"></i>
                        Delete Workout
                    </li>
                </ul>
            </div>
        }
    }
</div>
@if (workoutTime) {
    <p class="fs-4" style="margin-top: -10px;">{{ workoutTime }}</p>
}
@if (workout()!.notes) {
    <div>
        <textarea class="form-control mb-4" name="workout-notes" id="workout-notes" readonly rows="1" (focus)="editWorkout()">{{ workout()!.notes }}</textarea>
    </div>
}
<div class="d-flex flex-wrap mb-3">
    <app-short-info-stats 
        [name]="'Time'"
        [value]="workout()!.durationTime | duration"/>

    <app-short-info-stats 
        [name]="'Bodyweight'"
        [value]="workout()!.bodyweight | measurementConverter:workout()!.bodyweightUnitId"/>

    @if (workout()!.total) {
        <app-short-info-stats 
            [name]="'Sets'"
            [value]="workout()!.total.sets"
            [diff]="workout()!.total.setsDiff"/>

        <app-short-info-stats 
            [name]="'Reps'"
            [value]="workout()!.total.reps"
            [diff]="workout()!.total.repsDiff"/>
            

        <app-short-info-stats 
            [name]="'Volume'"
            [value]="workout()!.total.volume"
            [diff]="workout()!.total.volumeDiff"
            [templateAddon]="' ' + userWeightPreference"/>

        <app-short-info-stats 
            [name]="'Cardio'"
            [value]="workout()!.total.cardioTime"
            [diff]="workout()!.total.cardioTimeDiff"
            [templateAddon]="' min'"/>
    }
</div>

<app-exercises-template 
    [exercises]="workout()?.exercises ?? []"
    [editable]="editable() && !workout()?.isCompleted"
    [workoutId]="workout()!.id"
    [userId]="userId()"
    [showName]="!isFromExerciseScreen()"/>

@if (editable() && !workout()?.isCompleted) {
    <div class="row">
            <div class="mt-5 mb-3">
                <button class="btn btn-primary" (click)="modalService.showExerciseModal(workout()!.id, workout()!.exercises.length + 1)"><i class="fa-solid fa-dumbbell"></i> Add Exercise</button>
        </div>
    </div>
}