.edit-dots-workout {
    font-size: 2.5rem;
}

.edit-menu {
    width: 200px;
    top: 50px;
    right: 0;
    font-size: 0.9rem;
}

textarea {
    resize: none;
    font-size: 0.9rem;
}

@media (max-width: 696px) {
    .workout-name {
        font-size: 1.3em;
    }
}